@model EmployeeModel

<h1>Select a job</h1>

<div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Jobs
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" asp-area="" asp-controller="Employees" asp-action="setJob" asp-route-id="@Model.id" asp-route-newJob="Warrior">Warrior</a>
        <a class="dropdown-item" asp-area="" asp-controller="Employees" asp-action="setJob" asp-route-id="@Model.id" asp-route-newJob="Mage">Mage</a>
        <a class="dropdown-item" asp-area="" asp-controller="Employees" asp-action="setJob" asp-route-id="@Model.id" asp-route-newJob="Cleric">Cleric</a>
        <a class="dropdown-item" asp-area="" asp-controller="Employees" asp-action="setJob" asp-route-id="@Model.id" asp-route-newJob="Thief">Thief</a>
        <a class="dropdown-item" asp-area="" asp-controller="Employees" asp-action="setJob" asp-route-id="@Model.id" asp-route-newJob="Pop Star">Pop Star</a>
        <a class="dropdown-item" asp-area="" asp-controller="Employees" asp-action="setJob" asp-route-id="@Model.id" asp-route-newJob="Chef">Chef</a>
        <a class="dropdown-item" asp-area="" asp-controller="Employees" asp-action="setJob" asp-route-id="@Model.id" asp-route-newJob="Cat">Cat</a>
        <a class="dropdown-item" asp-area="" asp-controller="Employees" asp-action="setJob" asp-route-id="@Model.id" asp-route-newJob="Imp">Imp</a>
        <a class="dropdown-item" asp-area="" asp-controller="Employees" asp-action="setJob" asp-route-id="@Model.id" asp-route-newJob="Scientist">Scientist</a>
        <a class="dropdown-item" asp-area="" asp-controller="Employees" asp-action="setJob" asp-route-id="@Model.id" asp-route-newJob="Tank">Tank</a>
        <a class="dropdown-item" asp-area="" asp-controller="Employees" asp-action="setJob" asp-route-id="@Model.id" asp-route-newJob="Princess">Princess</a>
        <a class="dropdown-item" asp-area="" asp-controller="Employees" asp-action="setJob" asp-route-id="@Model.id" asp-route-newJob="Flower">Flower</a>
        <a class="dropdown-item" asp-area="" asp-controller="Employees" asp-action="setJob" asp-route-id="@Model.id" asp-route-newJob="Vampire">Vampire</a>
        <a class="dropdown-item" asp-area="" asp-controller="Employees" asp-action="setJob" asp-route-id="@Model.id" asp-route-newJob="Elf">Elf</a>
    </div>
</div>
